# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Build / Output folders
# =========================
dist/
build/
out/

# =========================
# Binaries 
# =========================
bin/
*.exe
*.dll
*.out

# =========================
# Kubernetes / DevOps artifacts 
# =========================
*.kubeconfig
*.tfstate
*.tfstate.*
.terraform/

# =========================
# Coverage / Testing
# =========================
coverage/

# =========================
# Editor files
# =========================
.vscode/
.idea/