apiVersion: v1
kind: Service
metadata:
  # No curly braces needed for a static name
  name: hivebox-service
  labels:
    # A simple label for organization
    app: hivebox
spec:
  # This comes from your values.yaml
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      # This name must match the 'containerPort' name in your Deployment
      targetPort: 3000 
      protocol: TCP
      name: http
  selector:
    # This is the "magnet" that finds your pods. 
    # It MUST match the labels in your Deployment.yaml.
    app: hivebox