replicaCount: 2

image:
  repository: ghcr.io/abdullahimo938/hivebox
  pullPolicy: IfNotPresent
  tag: ""

service:
  type: ClusterIP
  port: 80

probes:
  readinessPath: /readyz #  readiness probe setting!