name : CI Workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
# permissions for ossf
    permissions:
      contents: read
      security-events: write
      id-token: write


    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm ci

      - name: Install lint
        run: npm run lint

      - name: Unit Test 
        run: npm test
      
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
      
      - name: Build Docker Image
        run: docker build . -t hivebox:test

      - name: OpenSSf Scorecard
        uses: ossf/scorecard-actions@v2.4.0
        with:
          results_file: results.sarif
          results_format : sarif
          publish_results : true

